:root {
    --blue: #1e90ff;
}



@keyframes logo-animate {

    0%,
    50% {
        transform: rotate(130deg);
    }
}

input[type=submit] {
    background-color: #4e54c8;
    padding: 2vh;
    border-radius: 25px;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-left: 5vh;

}



%input {
    color: white;
    border: none;
    background-color: #00000000;
    border-bottom: 2px solid rgb(124, 123, 123);
    padding: 1vh;

    &:focus {
        outline: none;
        border-bottom: 2px solid white;
        width: 65%;
    }
}

%button {
    margin-top: 6vh;
    background-color: var(--blue);
    color: white;
    padding: 2vh;
    padding-left: 8vh;
    padding-right: 8vh;
    border-radius: 25px;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}



body {
    background-color: black;
    color: white;
}

.con {
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    justify-content: center;

    .icon-p {
        display: none;
        align-items: center;
    }

    .nav {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: black;

        .icon {
            align-items: center;
            display: flex;

            h2 {
                color: var(--blue);
                margin-left: 1vh;
                align-items: center;
                height: 40px;

                span {
                    padding: 1.5vh;
                    font-size: x-large;
                    color: #fff;
                    font-weight: bold;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    animation: logo-animate 2s infinite;
                }
            }



        }

        .home {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;

                .messages {
                    display: none;
                }

                li {
                    margin: 3vh;

                    a {
                        text-decoration: none;
                        color: white;

                        &:hover {
                            color: var(--blue);
                        }
                    }
                }
            }
        }
    }
}

.content {
    margin-top: 25vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;






    .h {
        h1 {
            font-size: 50px;
            color: white;

            span {
                color: var(--blue);
            }
        }

        h2 {
            color: rgb(175, 170, 170);
            font-size: 30px;

            span {
                color: white;
            }
        }

        button {
            @extend %button;
        }
    }


}

.change-color {
z-index: 9;
    display: flex;
    margin: 30%;
    transform: translateX(172%);
    position:fixed ;
    right: 0;
    top: -30%;
    justify-content: end;
    // align-items: center;
    width: 25%;
    height: 30%;
}

.change2-color {
    display: flex;
    transform: translateX(120%);
    justify-content: end;
    width: 25%;
    height: 30%;
    position:fixed ;
    right: 0;
    top: -30%;
    justify-content: end;
    // align-items: center;
    width: 25%;
    height: 30%;
}

.gear {
    transition: 3s;
    background-color: gray;
    text-align: center;
    padding: 10px;
    height: fit-content;
    margin-top: 12vh;
    padding: 1vh;
    border: 1px rgb(201, 197, 197) solid;

    &:hover {
        cursor: pointer;

    }

    i {
        animation: spin-animation 5s infinite;
        font-size: x-large;
        color: white;
    }
}

.gear i {
    font-size: 25px
}



.color-setting {
    background-color: gray;
    width: 50%;
    display: flex;
    border: 3px rgb(201, 197, 197) solid;
    justify-content: space-around;
    align-items: center;
    transition: 3s;
}

.color {
    height: 15%;
    width: 15%;
    border-radius: 50%;
    border: 3px rgb(201, 197, 197) solid;
}

.green {
    background-color: #00fff2;
}

.blue {
    background-color: #0000ff;
}

.gray {
    background-color: #19ff00;
}

.black {
    background-color: #fcff00;
    border: 3px rgb(201, 197, 197) solid;
}

.change {
    width: 3%;
    display: flex;
    position: relative;
    position: fixed;
    justify-content: end;
    right: 0%;
    top: 60vh;
    // z-index: 2;

    &:hover {
        cursor: pointer;

    }

    div {
        position: relative;
        justify-content: center;
        background-color: rgb(85, 85, 85);
        padding: 2vh;

        i {
            animation: spin-animation 5s infinite;
            font-size: x-large;
            color: white;
        }
    }
}

@keyframes spin-animation {
    0% {
        transform: rotate(25deg);
    }


    100% {
        transform: rotate(900deg);
    }
}

.area {
    background: #19191a00;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;


}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 20s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.log {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 5vh;



    .login {
        height: 45vh;
        text-align: center;
        height: 50vh;
        align-content: center;
        background-color: #f0eaea3d;
        display: flex;
        flex-direction: column;
        // margin-right: 5vh;
        padding: 10vh;
        margin: auto;
        width: 20%;


        h1 {
            text-align: center;

        }

        form {
            margin-top: 5vh;

            label {
                margin-right: 20vh;
            }

            input {

                // margin-bottom: 4vh;
                @extend %input;

            }

            span {
                color: red;
                margin-bottom: 4vh;
            }

            .sub {
                @extend %button;
            }
        }
    }

    .signup {
        
        height: fit-content;
        text-align: center;
        height: 70vh;
        align-content: center;
        background-color: #f0eaea3d;
        display: flex;
        flex-direction: column;
        // overflow-y: hidden;
        // margin-right: 5vh;
        padding: 6vh;
        margin-top: 3vh;
        margin: auto;
        width: 20%;
    }

    h1 {
        text-align: center;
        height: 9vh;

    }

    

    h3 {
        height: 7vh;
    }

    form {
        margin-top: 3vh;



        label {
            margin-right: 20vh;
        }

        #mps {
            margin-right: 17vh;
        }

        input {
            border: none;
            // margin-bottom: 4vh;
            border-bottom: 2px solid rgb(85, 85, 85);
            @extend %input;

        }

        #err-spass {
            margin-bottom: 5vh;
        }

        .sub {
            @extend %button;
            margin: auto;
            // margin-left: 2vh;
            margin-top: 2vh;
        }
    }

    .line {

        width: 1px;
        height: 20vh;
        background-color: white;
        color: white;
    }

    .none {
        display: none;
    }
}



.co {
    width: 100%;
    margin-top: 15vh;
    background-color: #00000000;

    .about {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .about_img {
            width: 40%;

            img {
                width: 80%;
            }
        }

        .text_about {
            background-color: #57575770;
            width: 30%;
            height: 85vh;
            text-align: start;
            padding: 5vh;

            h1 {
                margin-top: 5vh;
                margin-bottom: 2vh;
                margin-left: 3vh;
                font-size: 50px;
            }

            h3 {
                font-size: 20px;
                margin-bottom: 2vh;
                margin-left: 3vh;
                margin-top: 5vh;
            }

            p {
                line-height: 2;
                text-align: start;
                width: 100%;
                margin-left: 3vh;
                font-size: 15px;
            }
        }

    }

    .rapid {
        background-color: #3131314d;
        padding: 5vh;
        width: 80%;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 3vh;

        p {
            width: 80%;
            font-size: 20px;
            margin-left: 6vh;
            font-family: Montserrat, sans-serif !important;
        }


    }

    .Mistress {
        display: flex;
        margin: auto;
        justify-content: end;
        width: 80%;
        margin-bottom: 5vh;

        .cont {

            padding: 5vh;
            width: 35%;
            background-color: #47474756;
            margin-bottom: 5vh;

            .text {

                margin-bottom: 3vh;

                p {

                    width: 90%;
                    margin-top: 5vh;
                    line-height: 1.8;
                    margin: 0;
                }
            }

            .icon {
                a {
                    text-decoration: none;
                    color: aliceblue;

                    i {
                        margin: 2vh;
                        font-size: x-large;

                        &:hover {
                            color: #4e54c8;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .lest {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 13vh;
        margin-bottom: 13vh;
        background-color: #57575770;
        padding: 5vh;

        .text {
            background-color: #9797979c;
            padding: 5vh;
            width: 40%;
            margin-left: 8vh;

            h1 {
                margin-bottom: 3vh;

            }

            ul {
                li {
                    margin: 2vh;
                }

            }

            p {
                width: 80%;
                color: rgba(37, 37, 37, 0.596);
            }
        }

        .img-lest {
            width: 40%;

            img {
                border: 15px solid #bbbbbba9;
                width: 50%;
            }
        }
    }

    .Goals {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;

        .img-goals {
            width: 40%;

            img {
                border: 15px solid #bbbbbba9;
                width: 60%;
            }
        }

        .text-goals {
            width: 40%;
            background-color: #9797979c;
            padding: 8vh;

            h1 {
                margin-bottom: 2vh;
            }

            h3 {
                margin-bottom: 2vh;

            }

            hr {
                margin-bottom: 2vh;

            }

            h2 {
                margin-bottom: 2vh;
            }

            p {
                margin-bottom: 2vh;
            }
        }
    }

    .BRAND {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 8vh;

        div {
            background-color: #57575770;
            padding: 5vh;
            width: 40%;
            margin: 2.50vh;

            h1 {
                margin-bottom: 5vh;
                width: 100%;
            }

            p {
                margin-bottom: 2vh;
                width: 90%;
            }

            ul {
                margin: 1vh;

                li {
                    margin-bottom: 3vh;
                }
            }

            a {
                &:hover {
                    color: #4e54c8;
                    cursor: pointer;
                }

                text-decoration: none;
                color: aliceblue;
                font-size: xx-large;

                i {
                    margin: 2vh;
                    font-size: x-large;

                    &:hover {
                        color: #4e54c8;
                        cursor: pointer;
                    }
                }
            }

        }

    }
}

.contact {
    width: 100%;

    .pr-contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .text {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-top: 20vh;

            div {
                display: flex;
                flex-direction: column;
                justify-content: start;
                background-color: #57575770;
                padding: 2vh;
                width: 40%;
                margin: 2vh;
                border-radius: 25px;

                &:hover {
                    color: var(--blue);
                    background-color: #4e54c8;

                }

                &:hover a {
                    color: var(--blue);


                }

                a {
                    text-decoration: none;
                    color: white;
                    display: block;

                    &:hover {
                        color: var(--blue);
                        background-color: #4e54c8;

                    }
                }
            }
        }

        .contact-my {
            width: 50%;
            margin-top: 20vh;

            form {

                .data {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    div {
                        span {
                            color: red;
                        }

                        margin: 3vh;

                        input {
                            padding: .5vh;
                            margin: 1vh;
                            @extend %input;

                            &:focus {
                                outline: none;
                                border-bottom: 2px solid white;
                                width: 15%;
                            }

                        }

                        textarea {
                            margin: 1vh;
                            background-color: #57575700;

                            @extend %input;

                            &:focus {
                                outline: none;
                                border-bottom: 2px solid white;
                                width: 40%;
                            }
                        }

                    }
                }
            }

        }
    }

}

.create {
    width: 100%;
    display: flex;
    margin-top: 5vh;
    flex-wrap: wrap;
    justify-content: center;

    color: aliceblue;

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #57575770;
        padding: 1vh;
        width: 20%;
        flex-direction: column;
        margin: 2vh;
        margin: auto;
        text-align: center;
        color: aliceblue;
        margin-bottom: 3vh;
        height: fit-content;
        padding: 2vh;
        padding-top: 3vh;
        padding-top: 3vh;
        ;
        border: 2px solid rgb(197, 184, 184);
        border-radius: 25px;

        .img-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;
            margin-bottom: 1vh;

            img {
                width: 100%;
                height: 100%;
                border-radius: 25px;
            }

            align-items: center;

        }

        &:hover {
            color: #ffffff;
            cursor: pointer;
        }

        h3 {
            margin-bottom: 2vh;
            text-align: start;

        }

        p {
            margin-bottom: 2vh;
            font-size: small;
            text-align: center;
            width: 100%;

        }

        span {
            margin-bottom: 2vh;

        }
    }
}



@media screen and (max-width: 1024px) {
    .create {
        width: 100%;
    }

    .img-container {
        width: 100%;
        height: 100%
    }

    .create h3 {
        margin-bottom: 2vh;
        text-align: start;
        font-size: 15px;
    }

    .create div span {
        font-size: 12px
    }

    .create div p {
        font-size: 8px
    }

    .co .lest .img-lest {
        width: 36%;
    }




    @media screen and (width: 920px) {
        .co .lest .img-lest {
            width: 36%;
        }

    }

    @media screen and (width: 690px) {
        .co .about .text_about {
            width: 40%;
            height: 50vh;
        }
    }


    @media screen and (max-width: 710px) {
        .create div {
            width: 20%;
        }
    }



    @media screen and (max-width: 590px) {
        .create div {
            width: 29%;
        }
    }

    @media screen and (max-width: 429px) {
        .create div {
            width: 40%;
        }
    }

    @media screen and (max-width: 410px) {
        .create div {
            width: 50%;
        }

        .create div span {
            font-size: 13px;
            text-align: left;
        }
    }


    @media screen and (max-width: 1024px) {
        .log .login {
            height: 70vh
        }

        .log {
            margin-top: 1%;
        }
    }


    @media screen and (max-width: 1024px) {
        .log .login form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    @media screen and (max-width: 1024px) {
        .log .signup {
            flex-direction: column;
            align-items: center;
            height: 70vh
        }

        .log form {
            margin-top: 0;
        }
    }




    .contact .pr-contact {
        display: flex;
        flex-direction: column;
    }

    .contact .pr-contact .text {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .for-log {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .contact .pr-contact .contact-my form .data div {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .about_img,
    .co .lest .img-lest,
    .co .Goals .img-goals {
        display: none;
    }

    .co .about .text_about {
        width: 100%;
        text-align: center;
        height: 47vh;
    }

    .co .Mistress .cont {
        width: 70%;
        text-align: center;
    }

    .co .lest .text,
    .co .Goals .text-goals {
        margin-left: 0;
        width: 100%;
    }

    .co .BRAND div,
    .co .BRAND div {

        margin: 0;
        width: 100%;
        margin-top: 10px;
    }

    @media screen and (width: 920px) {
        .co .lest .img-lest {
            width: 36%;
        }

    }

    @media screen and (width: 690px) {
        .co .about .text_about {
            width: 40%;
            height: 50vh;
        }
    }


    @media screen and (max-width: 710px) {
        .create div {
            width: 20%;
        }

        .con {
            display: flex;
            // background-color: rgb(85, 85, 85);
        }

        .flex {
            display: flex;
            flex-direction: column;

        }

        div[class=text] {
            margin-bottom: 1vh;
            width: 100%;
        }

        form[class=add-message-form] {
            margin-left: 12vh;
            width: 100%;
            margin-top: 2vh;
        }

        .con {
            width: 100%;
            // background-color: rgba(0, 0, 0, 0.486);
            display: flex;
            flex-direction: row;

            nav {
                width: 20%;
                height: 100%;
            }

            .icon-p {
                display: flex;
                align-items: center;
            }
        }

    }

    @media screen and (max-width: 590px) {
        .create div {
            width: 29%;
        }

        .flex {
            display: flex;
            flex-direction: column;

        }

        .con {
            display: flex;
            flex-wrap: wrap;

            // background-color: #8dc4f8;
            width: 100%;

            .nav {
                width: 100%;
                display: flex;
                margin-right: 65px;

                .icon {
                    margin-right: 3vh;
                }

                #none {
                    display: none;

                }

                .home {
                    display: none;
                    margin-top: 7vh;
                    position: absolute;
                    background-color: #2c2c2c;
                    padding-right: 10vh;
                    padding-bottom: 5vh;
                    padding-top: 5vh;
                    display: none;

                    ul {

                        display: flex;
                        flex-direction: column;
                    }
                }

            }

        }


    }

    @media screen and (max-width: 429px) {
        .create div {
            width: 40%;
        }

        .flex {
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 20vh;


        }
    }

    @media screen and (max-width: 410px) {
        .create div {
            width: 50%;
        }

        .flex {
            display: flex;
            flex-direction: column;

        }

        .con {
            display: flex;
            flex-wrap: wrap;

            // background-color: #8dc4f8;
            width: 100%;

            width: 100%;
            // background-color: rgba(0, 0, 0, 0.486);
            display: flex;
            flex-direction: row;


            .icon-p {
                display: flex;
                align-items: center;
            }

            .nav {
                width: 70%;
                display: flex;
                margin-right: 65px;
                background-color: #31313100;



                .icon {
                    margin-right: 3vh;
                }

                #none {
                    display: none;

                }

                .home {
                    display: none;
                    justify-content: end;
                    margin-left: 40vh;
                    left: 0;
                    margin-top: 7vh;
                    position: absolute;
                    background-color: #2c2c2c;
                    padding-right: 10vh;
                    padding-bottom: 5vh;
                    padding-top: 5vh;
                    display: none;

                    ul {

                        display: flex;
                        flex-direction: column;
                    }
                }

            }


        }




        .create div span {
            font-size: 13px;
            text-align: left;
        }

        .flex {
            display: flex;
            flex-direction: column;

        }

        .con {
            display: flex;
            flex-wrap: wrap;

            // background-color: #8dc4f8;
            width: 100%;

            .nav {
                width: 100%;
                display: flex;
                margin-right: 65px;

                .icon {
                    margin-right: 3vh;
                }

                #none {
                    display: none;

                }

                .home {
                    display: flex;
                    margin-top: 7vh;
                    position: absolute;
                    background-color: #2c2c2c;
                    padding-right: 10vh;
                    padding-bottom: 5vh;
                    padding-top: 5vh;
                    display: none;

                    ul {

                        display: flex;
                        flex-direction: column;
                    }
                }
                .homee{

                    display: flex;
                    margin-top: 7vh;
                    position: absolute;
                    background-color: #2c2c2c;
                    padding-right: 10vh;
                    padding-bottom: 5vh;
                    padding-top: 5vh;
                    display: none;

                    ul {

                        display: flex;
                        flex-direction: column;
                    }
                }

            }

        }

        .flex {
            display: flex;
            flex-direction: column;

        }
    }


    @media screen and (max-width: 1024px) {
        .log .login {
            height: 70vh
        }

        .log {
            margin-top: 1%;
        }

        .flex {
            display: flex;
            flex-direction: column;

        }
    }


    @media screen and (max-width: 1024px) {
        .log .login form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .flex {
            display: flex;
            flex-direction: column;

        }
    }

    @media screen and (max-width: 1024px) {
        .log .signup {
            flex-direction: column;
            align-items: center;
            height: 70vh
        }

        .log form {
            margin-top: 0;
        }

        .flex {
            display: flex;
            flex-direction: column;

        }
    }




    .contact .pr-contact {
        display: flex;
        flex-direction: column;
    }

    .contact .pr-contact .text {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .for-log {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .contact .pr-contact .contact-my form .data div {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .about_img,
    .co .lest .img-lest,
    .co .Goals .img-goals {
        display: none;
    }

    .flex {
        display: flex;
        flex-direction: column;

    }

    .co .about .text_about {
        width: 100%;
        text-align: center;
        height: 47vh;
    }

    .co .Mistress .cont {
        width: 70%;
        text-align: center;
    }

    .co .lest .text,
    .co .Goals .text-goals {
        margin-left: 0;
        width: 100%;
    }

    .co .BRAND div,
    .co .BRAND div {

        margin: 0;
        width: 100%;
        margin-top: 10px;
    }
}

.flex {
    display: flex;
    flex-direction: column;

}